@import '../../../assets/fonts/space_grotesk_fonts.css';

.button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.95em;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  min-width: 150px;
  height: 40px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.button--primary {
  color: #0a162e;
  background-color: #6fffdc;
}

.button--secondary {
  color: #0a162e;
  background-color: white;
  border: 1px solid #0a162e;
  border-radius: 20px;
}

.button--icon {
  color: #0a162e;
  background-color: white;
  border: 1px solid #0a162e;
  border-radius: 20px;
}

.button--small, .button--secondary-small, .button--icon-small {
  font-size: 0.95em;
  min-width: 150px;
  height: 40px;
}

.button--medium, .button--secondary-medium, .button--icon-medium {
  font-size: 1.15em;
  min-width: 180px;
  height: 40px;
}

.button--large, .button--secondary-large, .button--icon-large {
  font-size: 1.25em;
  min-width: 200px;
  height: 40px;
}

.button--small:hover, .button--icon-small:hover {
  font-size: 1.15em;
  min-width: 180px;
  height: 40px;

  .icon-small {
    top: 1.05em;
    height: 1.8em;
  }
}

.button--medium:hover, .button--icon-medium:hover {
  font-size: 1.35em;
  min-width: 200px;
  height: 40px;

  .icon-medium {
    top: 0.95em;
    height: 1.5em;
  }
}

.button--large:hover, .button--icon-large:hover {
  font-size: 1.35em;
  min-width: 220px;
  height: 40px;

  .icon-large {
    top: 0.9em;
    height: 1.5em;
  }
}

.button--secondary-small:hover, .button--secondary-medium:hover, .button--secondary-large:hover {
  border: none;
}

.button--icon-container {
  display: flex;
  margin: 0 20px 0 20px;
  align-items: center;
  gap: 20px;
}

.icon-small {
  height: 2em;
}

.icon-medium {
  height: 1.5em;
}

.icon-large {
  height: 1.5em;
}

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}